<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "admin_head"}}
    <style>
        .container {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        p {
            background: white;
            padding: 10px;
            border-radius: 10px;
            color: black;
            font-weight: bold;
        }
    </style>
    <title>Logs</title>
</head>
<body>
    {{ template "admin_nav" . }}
    <h1 style="text-align: center;font-size: 5vw;margin-top: 30px;">Logs</h1>
    <div class="container"></div>
<script>
    let container = document.querySelector(".container");   
    let host = window.location.host;
    var sse = new EventSource("/sse/logs");
    let previousMessage = "";
    let lastMessage = "";
    sse.onmessage = (e) => {
        let paras = document.querySelectorAll(".container p");
        let different=true;
        let i;
        paras.forEach(para => {
            i++
            if (para.textContent === e.data) {
                different =false;
            }
            if (i > 3) {
                return
            }
        })

        if (different || paras.length === 0) {
            lastMessage=e.data;
            let p = document.createElement("p");
            p.innerText = e.data;

            let successList = [200,"SUCCESS"];
            let errorList = [400,404,500,"ERROR"];
            let redirectList = [303,302,301,300,"INFO"];
            errorList.forEach(code => {
                if (lastMessage.includes(`[${code}]`)) {
                    p.style.background="red";
                    p.style.color="white";
                }
            })
            redirectList.forEach(code => {
                if (lastMessage.includes(`[${code}]`)) {
                    p.style.background="blue";
                    p.style.color="white";
                }
            })
            successList.forEach(code => {
                if (lastMessage.includes(`[${code}]`)) {
                    p.style.background="green";
                    p.style.color="white";
                }
            })
            if (lastMessage.includes("[WARN]")) {
                p.style.background="orange";
                p.style.color="white";
            }
            
            container.prepend(p);
        } 
    }
</script>
</body>
</html>